<!--<h1>Messages#index</h1>-->
<!--<p>Find me in app/views/messages/index.html.erb</p>-->

<!--<h1>メッセージ一覧</h1>-->
<div class="panel panel-default">
  <div class="panel-heading">
    メッセージ一覧
  </div>
    
  <div class="panel-body">
    <% @messages.each do |message| %>
      <span class="label label-info"><%= message.name %></span>
      <%= message.body %>
      <br>
    <% end %>
  </div>
</div>

<%= form_for(@message) do |f| %>

<form class="form-horizontal">
<div class="form-group form-group-lg">
  名前:
  <%= f.text_field :name %>
</div>

<div class="form-group form-group-lg">
  内容:
<!--  <%= f.text_field :body %>-->
<%= f.text_area :body %>
</div>
<div class="form-group form-group-lg">
  <%= f.submit class: "btn btn-sm btn-primary" %>
<% end %>
</div>
</form>